<footer>
  <article>
    <img src="images/logo_transparent.png" alt="logo" preload />
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </article>
</footer>
